---
import Layout from "../layouts/RegularLayout.astro";
---

<Layout title="Astral Arra" activeUrl="/about">
  <div>
    <h1 class="py-4 text-center text-4xl">Какво е Астрален дизайн?</h1>
    <div class="mx-auto flex max-w-4xl flex-col gap-8 py-8 text-justify">
      <section class="about">
        <p class="py-2 text-lg"></p>
        <p class="py-2 text-lg"></p>
        <p class="py-2 text-lg">
          <a href="/blog" class="font-bold underline">ASTRAL ARRA</a>
          ✨
        </p>
      </section>
      <section class="about-me space-y-4 text-lg">
        <h2 class="py-2 text-2xl font-bold">За мен</h2>
        <p></p>
        <p></p>
        <p></p>
        <p>Пътуването никога не свършва...</p>
      </section>
    </div>
  </div>
</Layout>
