---
import { Image } from "astro:assets";
import logoImg from "../assets/images/arra.jpg";
import Layout from "../layouts/RegularLayout.astro";
---

<Layout title="Astral Arra" activeUrl="/about">
  <div>
    <h1 class="py-4 text-center text-4xl">Какво е Астрален дизайн?</h1>
    <Image class="mx-auto h-40 w-40" src={logoImg} alt="Astral Arra Logo" />
    <div class="mx-auto flex max-w-4xl flex-col gap-8 py-8 text-justify">
      <section class="about">
        <p class="py-2 text-lg">
          Астрален дизайн е система, която се базира на и обединява такива дисциплини, като
          Астрология, Хюман Дизайн, Таро, Демонология, Ангеология+Енохова магия, Космогонията на
          Розенкройцерите, Гностицизъм, Алхимия, Учението на Катара и Еаша Йешаяна, ученията на
          различни магически школи, включително и на Соломон, изследванията на Харалд Вела, както и
          не малко гранична наука... и не само. Астрален дизайн обединява и свързва логически
          разпиляната като парченца пъзел истина за това, как точно функционира механиката на
          инкарнацията на Съзнанието в Земната Платформа и какви са Законите на локалната Игра – на
          кратко, ако усвоите тази система, ще можете да управлявате кода на Матрицата по Ваша
          Свободна Воля. Ще разберете ЗАЩО сте тук и КАКВИ са Вашите ултимативни способности и
          МИСИЯ.
        </p>
        <p class="py-2 text-lg">
          Както и самото име говори, система вклюва и още един особено важен компонент: АСТРАЛЪТ.
          Астралното тяло ни помага да пътуваме между измеренията и световете, и да манифестираме и
          най-смелите си фантазии...точно тук е ключът към овладяването на цялата Матрица.
        </p>
        <p class="py-2 text-lg">
          Ако искате да разберете какво още се крие зад името, потопете се в света на <a
            href="/blog"
            class="font-bold underline">ASTRAL ARRA</a
          >
          ✨
        </p>
      </section>
      <section class="about-me space-y-4 text-lg">
        <h2 class="py-2 text-2xl font-bold">За мен</h2>
        <p>
          Здравейте, духовният ми псевдоним е ARRA и от около 15 години се занимавам с езотеричното
          и окултното. Завършила съм Философия (бакалавър) и Философия на Съзнанието и Езика
          (магистър), а доста време се занимавах и с Арабистика, и дори пробвах да следвам и
          Астрофизика и Биология... Просто се „налагаше“, тъй като завърших ПМГ с профил Химия и
          Биология и забавното е, че през първата част от живота си бях ориентирана доста научно и
          отричах разните „псевдонауки“ като астрология и т.н. Въпреки това, проявявах още от малка
          силен интерес към феномена на НЛО и граничната наука, но си оставах една типична Дейна
          Скъли, макар и с кратки „проблясъци“. Казвам кратки „проблясъци“, защото още от дете
          проявявах странни пси- способности, като например да чета мислите на другите, да сънувам
          сбъдващи се сънища или да сомнабулствам и да соча към зведите, доакто обяснявам на баба си
          за това, как идвам от там... :Д Забавно е да се почоси, че и на няколко пъти като малка
          бях на косъм от смъртта и все някакви „щастливи случайности“ ме спасяваха...
        </p>
        <p>
          След множество търсения, лутания и експерименти, както в личен, така и в духовен план
          (типично за профил 4/6 :p), малко по-малко започнах да осъзнавам, че има една много
          по-дълбока реалност, която има нужда да бъде опозната и разбрана... Това осъзнаване беше
          подтикнато от едно доста тежко боледуване от инфекциозна мононуклеоза, съчетано с тотален
          писхологически и житейски срив, точно в края на първия ми курс по Биология в Университета,
          който се провали и тогава разбрах, че това не е за мен и съм на доста погрешен житейски
          път... Записах Философия, където вече попаднах в по-плодотворна сред и бях поканена да се
          присъединя към света на Астрологията и Езтеричното... Начинът, по който Вселената работи
          е, че срива тотално физиката и психиката ти, за да ни покаже, че не вървим на духовния си
          Път и да ни принуди да поемем по него, след една дълга почивка и време за размисъл. И
          така, разбрах че имаше една по-дълбока реалност и тя ме зовеше.... и започнах разработката
          на собствена система.
        </p>
        <p>
          По пътя си използвам в главна степен инструментите на синхромистицизма и активната
          медитация, за да „привиквам“ и навързвам информацията, а за нейната логическа обработка се
          усланям на ценния си опит от академичните години.
        </p>
        <p>Пътуването никога не свършва...</p>
      </section>
    </div>
  </div>
</Layout>
