---
import { Image } from "astro:assets";
import Layout from "../layouts/RegularLayout.astro";
import consultationImg from "../assets/images/consultation.png";
---

<Layout title="Astral Arra" activeUrl="/consult">
  <div class="flex h-full">
    <Image
      class="mx-auto place-self-center"
      src={consultationImg}
      alt="Image showing that this page is under construction"
    />
  </div>
</Layout>
