---
import Layout from "../layouts/HeroLayout.astro";
---

<Layout title="Astral Arra" activeUrl="/">
  <div class="flex h-full flex-row items-center justify-start pl-20">
    <h1 class="text-cloud-burst-50 text-left text-8xl font-bold drop-shadow">
      Овладей<br />
       съдбата си
    </h1>
  </div>
</Layout>
