---
import { Image } from "astro:assets";
import Layout from "../layouts/RegularLayout.astro";
import biblioImg from "../assets/images/biblio.png";
---

<Layout title="Astral Arra" activeUrl="/library">
  <div class="flex h-full">
    <Image
      class="mx-auto place-self-center"
      src={biblioImg}
      alt="Image showing that this page is under construction"
    />
  </div>
</Layout>
