---
import { Image } from "astro:assets";
import Layout from "../layouts/RegularLayout.astro";
import libraryImg from "../assets/images/library.png";
---

<Layout title="Astral Arra" activeUrl="/library">
  <div class="flex h-full">
    <Image
      class="mx-auto place-self-center"
      src={libraryImg}
      alt="Image showing that this page is under construction"
    />
  </div>
</Layout>
