---
import { Image } from "astro:assets";
import Layout from "../layouts/RegularLayout.astro";
;
---

<Layout title="Astral Arra" activeUrl="/shop">
  <div class="flex h-full">
    <Image
      class="mx-auto place-self-center"
    />
  </div>
</Layout>
