---
import { Image } from "astro:assets";
import Layout from "../layouts/RegularLayout.astro";
// import underConstructionImg from "../assets/images/under-construction.png";
---

<Layout title="Astral Arra" activeUrl="/shop">
  <div class="flex h-full">
    <!--<Image-->
    <!--  class="mx-auto place-self-center"-->
    <!--  src={underConstructionImg}-->
    <!--  alt="Image showing that this page is under construction"-->
    <!--/>-->
  </div>
</Layout>
