<footer>
  <div class="text-cloud-burst-100 w-full p-4 text-right text-sm">
    Copyright © <span id="copyright-year">2023</span> All rights reserved - AstralARЯA
  </div>
</footer>
<script>
  document.querySelector("#copyright-year").textContent = new Date().getFullYear().toString();
</script>
