---
import { ViewTransitions } from "astro:transitions";
import "../styles.css";
import MainNav from "./MainNav.astro";
import Footer from "./Footer.astro";
import SocialLinks from "./SocialLinks.astro";
const { title, activeUrl, isHero = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astral arra" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      media="screen print"
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class={`${isHero ? "bg-hero bg-cover bg-no-repeat" : ""}`}>
    <div class="wrapper grid-rows-layout grid h-full w-full grid-cols-1">
      <MainNav url={activeUrl} isHero={isHero} />
      <main class="container mx-auto">
        <slot />
      </main>
      {activeUrl !== "/blog" && <SocialLinks />}
      <Footer isHero={isHero} />
    </div>
  </body>
</html>
