---
import { Image } from "astro:assets";
import tiktokImg from "../assets/images/tiktok.svg";
import fbImg from "../assets/images/facebook.svg";
import instaImg from "../assets/images/instagram.svg";
---

<div
  id="social-media"
  class="bg-cloud-burst-200/20 group fixed left-0 top-[calc(50%-80px)] z-40 flex translate-x-0 flex-col items-center gap-2 rounded-lg py-2 transition duration-1000"
>
  <a
    href="https://linktr.ee/astralarra"
    target="_blank"
    id="social-links"
    class="transition duration-1000"
  >
    <div class="flex flex-col items-center gap-2 rounded-lg px-3 py-2">
      <div class="tiktok">
        <Image src={tiktokImg} class="h-12 w-12" alt="tiktok" />
      </div>
      <div class="facebook">
        <Image src={fbImg} class="h-12 w-12" alt="Facebook" />
      </div>
      <div class="instagram">
        <Image src={instaImg} class="h-12 w-12" alt="Instagram" />
      </div>
    </div>
  </a>
  <div class="w-full">
    <button
      class="bg-cloud-burst-800 text-cloud-burst-50 m-0 mx-auto block rounded px-3 py-0.5 opacity-0 transition duration-1000 group-hover:opacity-100"
      id="social-media-toggle"
      aria-expanded="false"
    >
      ⟨
    </button>
  </div>
</div>

<script>
  const socialMediaToggle = document.getElementById("social-media-toggle");

  const socialMedia = document.getElementById("social-media");
  const socialLinks = document.getElementById("social-links");
  socialMediaToggle.addEventListener("click", () => {
    const expand = socialMediaToggle.getAttribute("aria-expanded");
    if (expand === "false") {
      socialMedia.classList.replace("translate-x-0", "-translate-x-1/2");
      socialLinks.classList.add("opacity-0");
      socialMediaToggle.classList.remove("opacity-0");
      socialMediaToggle.classList.add("rotate-180", "translate-x-2");
    } else {
      socialLinks.classList.remove("opacity-0");
      socialMedia.classList.replace("-translate-x-1/2", "translate-x-0");
      socialMediaToggle.classList.add("opacity-0");
      socialMediaToggle.classList.remove("rotate-180", "translate-x-2");
    }
    socialMediaToggle.setAttribute("aria-expanded", expand === "false" ? "true" : "false");
  });
</script>
